<!doctype html>
<html>
  <head>
    <title>dapps.earth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="UTF-8"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122332887-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122332887-2');
    </script>
    <link rel="icon" type="image/png" href="/favicon.png?v=2" />
    <style>
      <%= htmlWebpackPlugin.options.README_CSS %>
    </style>
  </head>
  <body>
    <div style="max-width: 960px; margin: 0 auto">
      <%= htmlWebpackPlugin.options.README_HTML_CONTENT %>
    </div>
  </body>
</html>
